html,
body{
    height: 100%;
    font-family: 'Playfair Display', serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__btn-menu{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    span{
        background-color: #000;
        width: 37px;
        height: 3px;
        border-radius: 2px;
        display: block;
        margin: 6px 0;
    }
}

.btn{
    display: inline-block;
    padding: 0 33px;
    height: 51px;
    background: $accent;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
    border-radius: 4px;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    transition: all .2s ease-in;
    &:hover{
        box-shadow: 0px 4px 25px rgba(184, 13, 64, 0.671);
        background-color: #ff3874;
    }
}

.title{
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 10px;
}

.desc{
    font-weight: 400;
    line-height: 19px;
    font-size: 14px;
    text-align: center;
    color: $desc;
}

.btn-outline {
    text-align: center;
}
.btn-trs {
    display: inline-block;
    padding: 9px 40px 12px;
    background: #FFFFFF;
    border: 1px solid $accent;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #777;
    &:hover{
        background: $accent;
        color: #fff;
        transition: all .3s ease-in;
    }
}