@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
.header {
    font-family: 'Noto Sans';
    margin-top: 40px;
  &__inner {
      margin-bottom: 40px;
      align-items: center;
      display: flex;
      justify-content: space-between;
  }
  &__cart{
      position: relative;
      display: inline-block;
      padding: 5px;
  }
  &__cart-number {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      background: $accent;
  }
  &__row {
      position: relative;
      display: flex;
      justify-content: flex-end;
  }
  &__content {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 625px;
  }
  &__title {
      font-family: 'Playfair Display';
      margin: 0;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 72px;
      line-height: 96px;
  }
  &__text {
      margin-bottom: 60px;
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
  }
}
.menu {
  &__list {
      display: flex;
  }
  &__item + .menu__item {
      margin-left: 30px;
  }
  &__link {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #000;
      &:hover{
          color: $accent;
          transition: all .3s;
      }
  }
}


.featured {
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-header {
    margin-bottom: 40px;
    &__desc--subscribe{
        max-width: 630px;
        margin: 0 auto;
        padding-top: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}
.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin-bottom: 40px;
}
.product {
  display: inline-block;
  text-align: center;
  max-width: 270px;
  &__img {
      margin-bottom: 12px;
  }
  &__title {
      margin: 0;
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: #000;
  }
  &__price {
      font-family: 'Noto Sans';
      font-size: 14px;
      line-height: 19px;
  }
  &__price-old {
      font-weight: 400;
      color: $desc;
      margin-right: 10px;
  }
  &__price-new {
      font-weight: 700;
      color: $accent;
  }
}

.info {
    background: url('../images/info-1.jpg');
    background-position: center;
    background-size: cover;
    height: 188px;
  &__row {
      padding-top: 68px;
      display: flex;
      justify-content: space-between;
  }
  &__title {
      margin: 0;
      font-weight: 400;
      font-size: 52px;
      line-height: 100%;
      color: #fff;
  }
}
.info--duble {
    background: url('../images/info-2.jpg');
}

.blog {
    padding-top: 70px;
    padding-bottom: 45px;
  &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 40px;
      margin-bottom: 75px;
  }
  &__post {
      max-width: 570px;
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
  }
  &__content {
      max-width: 370px;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: center;

  }
  &__title {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 10px;
  }
  &__text {
      font-family: 'Noto Sans';
      font-size: 14px;
      line-height: 130%;
      color: #777;
      margin-bottom: 10px;
  }
  &__btn {
      font-size: 16px;
      line-height: 21px;
      color: #000;
      &::after{
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          background-image: url('../images/icons/arrow.svg');
          background-position: center;
          background-repeat: no-repeat;
          margin-left: 2px;
          vertical-align: text-top;
      }
      &:hover{
          text-decoration: underline;
          &::after{
              margin-left: 10px;
              transition: all .2s ease-in;
          }
      }
  }
}

.subscribe {
    padding-bottom: 100px;
  &__form {
      display: flex;
      justify-content: center;
  }
  &__form--input {
      height: 42px;
      width: 230px;
      background: #FFFFFF;
      border: 1px solid $accent;
      border-radius: 4px;
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      padding: 0 10px;
      margin-right: 10px;
  }
  &__form--btn {
      padding: 11px 30px 9px;
      background: $accent;
      border-radius: 4px;
      font-family: 'Noto Sans';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
  }
}

@import 'media';